<%=content_for :head do %>
	<title>Our services</title>
<% end %>

<%=content_for :intro do %>
	<h1>nuestros servicios</h1>
	<h2>solucionamos todos sus problemas</h2>
<% end %>

<div class="container">
  <div class="row">
	<div class="col-8">
		<p>
			La calificación del trabajo final es individual donde se medirá el rendimiento del alumno de acuerdo con la rúbrica que se entregará en clases.
El plazo es impostergable y por ningún motivo y/o circunstancia se recibirá trabajos fuera de esa fecha y hora. 

		</p>

	</div>
	<div class="col-4">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Check me out</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
  </div>
</div>
